@mixin squares($color) {
  border: 5px solid $color;
  background-color: $color;
  border-radius: 5px;
  border: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.borderSquare1 {
  @include squares(rgb(22, 22, 22));
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
}
.borderSquare2 {
  @include squares(rgb(216, 216, 216));
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
.borderSquareEmpty {
  @include squares(rgb(236, 236, 236));
  box-shadow: inset 0px 5px 10px hsla(0, 0%, 0%, 0.2);
}

.icon-react {
  color: #00d8ff;
}

.icon-vue {
  color:#42b883;
}

.icon-hand {
  color: rgb(226, 226, 226);
}
